body {
  background-color:white;
  --handwritingFont: 'Homemade Apple', cursive;
  --inkColor: #000f55;
}

/* styling paper */
.paper {
  
  width: 400px;
  height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
  background: #fff;
  border: 1px solid var(--elevation-background);
  font-size: 10pt;
  position: relative;
  top: 0px;
  font-family: var(--handwritingFont);
  color: var(--inkColor);
  overflow-y: auto;
  scrollbar-color: transparent;
  scrollbar-width: thin;
  
}
.lines{
 
  background-image: linear-gradient(#999 0.05em,transparent 0.1em);
}



/* styling blue horizontal lines */
.margined .topMargin  {
  height: 50px;
  border-bottom: 2px solid  rgba(255, 0, 0, 0.6);;
  width: 100%;
  display: block;
  overflow-y: auto;
  
}
.left-margin-and-content {
  min-height: calc(100% - 50px);
  margin: 0px;
  padding-left: 55px;
  
  line-height: 1.5em;

  
  
  
  
  
}
.margined .content{
  padding: 5px;
  margin: 0px;
  
}
.margined .leftMargin {
  width: 50px;
  height: 100%;
  display: inline-block;
  border-right: 2px solid pink;
  top: 0px;
  padding-top: 50px;
  /*overflow-x: hidden;*/
  position: absolute;
  left: 0;
}
.content{
  
  position:absolute;
  top:54px;

  
  
}
 .bgParent{
 /*background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);*/
 /*background-image: linear-gradient(#999 0.05em,transparent 0.1em);*/
background-color: unset !important;
background-size: 100% 1.5em;
min-height: 100%;
 
  
  
  
}
.output {
  width: 90%;
  padding: 30px;
  margin: 0 auto;
  white-space: nowrap;
  border: 2px solid#999 ;
  border-radius: 10px;
  background-color: whitesmoke;
  overflow-x: auto;
}
.output .close-button {
  position: absolute;
  right: -3px;
  top: -11px;
  border-radius: 100%;
  padding: 4px 10px;
  background-color: #333;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
}
.download-image-button {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  background-color: #1d1d1d;
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
}

#downloadpdfButton {
  display: none;
}
#downloadpdfButton.show {
  display: inline-block;
}
#deleteAllButton {
  display: none;
}
#deleteAllButton.show {
  display: inline-block;
}
.output img {
  width: 300px;
  margin: 0px 10px;
}
.mainContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}
.cont{
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 30px;

}
.cont2{
  padding:5px;
  margin-left:30px;

  

}
.subHeading h5{
  padding-left: 5px;
  padding-top: 40px;
}
.cont2-mainPart{
  border-radius: 30px;
  background: hsla(0,0%,100%,.95);
  box-shadow: 0px 8px 32px 0px  ;
 /* backdrop-filter: blur(1px);*/
  min-width: 100%;
  padding: 20px;
  
  
}
input[type="file"]{
  line-height:1;
}
.sh-1,.sh-2,.sh-3,.sh-4{
  display:flex;
  flex-direction: row;
  border:2px solid #999;
  border-radius: 10px;
  
}
.sh-4{
  justify-content: space-around;
}
.fontChoice,.uploadSection{
  min-width:50%;
  padding:10px;
}
.fontSize,.fontColor,.paperSize,.resolution,.paperEffect{
  min-width:20%;
  padding:10px;
}
.wordSpacing,.letterSpacing,.Va{
  min-width:33.3%;
  padding:10px;

}
.ruled-on,.margined-on{
  padding:10px
}
.highLight{
  box-shadow: 0px 8px 32px 0px  ;
  width: 400px;
  height: calc(11.7 * 400px / 8.3);
}
.mainHeading{
  text-align:center;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  border:2px solid;
  box-shadow: 0px 8px 20px 0px  ;

}
button{
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
/*.shadow {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2);
}*/
.overlay.shadows {
  display: block;
  
}
li a{
  text-decoration: none;
}
label a{
  text-decoration: none;
}
#procedure{
  padding: 10px;
}
@media only screen and (max-width: 1100px){
  .mainContainer{
    grid-template-columns: 1fr;
  }
  .cont{
    min-width:100%;
    padding-top:0px;
  }
  .sh-1,.sh-2,.sh-3,.sh-4{
    display:flex;
    flex-direction:column;
    border:2px solid #999;
    border-radius: 10px;
    
  }
  .sh-4{
    justify-content: space-around;
  }
  .fontChoice,.uploadSection{
    min-width:100%;
    padding:10px;
  }
  .fontSize,.fontColor,.paperSize,.resolution,.paperEffect{
    min-width:100%;
    padding:10px;
  }
  .wordSpacing,.letterSpacing,.Va{
    min-width:100%;
    padding:10px;
  
  }
  .paper{
    max-width: 100%;
  }
  .highLight{
    max-width: 100%;
    height: calc(11.7 * 400px / 8.3);
    
  }
  #downloadpdfButton{
    margin-bottom: 10px;
  }
  .cont2{
    margin-left:0px;
    
  
  }
  .output{
    max-width:100%;
    font-size: 10px;
  }
  

  
}
@media only screen and (max-width: 600px){
  .mainHeading h1{
    font-size: 20px !important;
    font-weight: 500 !important;

  }
  .subHeading h5{
    font-size:15px !important ;
    font-weight: 500 !important;
    padding-top: 30px !important;
  }
  .mainHeading{
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    border:2px solid;
    box-shadow: 0px 8px 10px 0px  ;
    padding-top:10px;
    border-radius: 10px;
  
  }
  .cont{
    min-width:100%;
    padding-top:0px;
    padding-left: 0px;
  }
}



